{% extends "layout.html" %}
{% block title %}Cinema{% endblock %}

{% block content %}
<h1>Programação do Cinema</h1>
<p><a class="btn" href="{{ url_for('cinema.cadastrar_sessao') }}">+ Nova sessão</a></p>

{% if sessoes %}
<table>
    <thead>
        <tr>
            <th>Filme</th>
            <th>Sala</th>
            <th>Data/hora</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        {% for sessao in sessoes %}
        <!-- TODO: sessao.filme.titulo, sessao.sala.numero, sessao.data_hora, sessao.preco -->
        <tr>
            <td>{{ sessao.filme.titulo }}</td>
            <td>{{ sessao.sala.numero }}</td>
            <td>{{ sessao.data_hora.strftime("%d/%m%Y %H:%M") }}</td>
            <td>{{ "%.2F"|format(sessao.preco) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}